form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

.bannerContact {
    background-color: #0E1F51;
    height: 288px;
    display: flex;
    flex-direction: column;
}

.titleContact {
    color: #FF3E54;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-top: 80px;
}

.subtitleContact {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.bodyContact {
    background-color: #fff5f6;
    margin-top: -47px;
    min-height: 40px;
}

.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 1800px !important;
    margin: 50px auto 20px auto;
    /* updated margin-bottom to 20px */
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.success-message p {
    margin-bottom: 10px;
}

.success-message button {
    padding: 10px 20px;
    background-color: #FF3E54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.success-message button:hover {
    background-color: #FF3E54;
}

.success-message button:active {
    background-color: #FF3E54;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #FF3E54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type="tel"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"]:hover {
    background-color: #FF3E54;
}

input[type="submit"]:active {
    background-color: #FF3E54;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 450px;
    height: 250px;
}

button {
    margin-right: 100px;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    border-color: transparent;
}

::placeholder {
    color: black;
}

.all-containers {}

@media only screen and (max-width: 600px) {
    .form-container,
    .info {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        max-width: none;
        width: 100%;
    }
    .form-container {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .info {
        padding: 20px;
    }
    .form-container h2 {
        font-size: 20px;
    }
    .form-container input[type="submit"] {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-container input[type="tel"],
    .form-container textarea,
    .form-container input[type="text"],
    .form-container input[type="email"] {
        margin-bottom: 10px;
    }
    .form-container label {
        margin-top: 5px;
    }
}


/* Styles for devices with a width of less than or equal to 1088 px */

@media screen and (max-width: 1088px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .form-container {
        margin-bottom: 30px;
        /* width: 100%; */
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        margin-bottom: 20px;
    }
    input[type="submit"] {
        width: 100%;
    }
}


/* Styles for devices with a width of more than 1088px */

@media screen and (min-width: 1088px) {
    .container {
        width: 1300px;
    }
    .form-container {
        margin-right: 30px;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    input[type="submit"] {
        width: 150px;
    }
}