    .bannerCourses {
        background-color: #0E1F51;
        height: 288px;
        display: flex;
        flex-direction: column;
    }
    
    .titleCourses {
        color: #FF3E54;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin-top: 80px;
    }
    
    .subtitleCourses {
        color: #FFFFFF;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }
    
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .item {
        width: 30%;
        background-color: #F7F7F7;
        margin: 20px;
    }
    
    .route {
        color: #FF3E54;
        /* font-family: 'Raleway'; */
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        /* identical to box height, or 83% */
        text-align: left;
        margin-top: 50px;
        font-weight: 'bold';
    }
    
    .learn {
        /* font-family: 'Raleway'; */
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        /* identical to box height, or 100% */
        text-align: center;
        margin-top: 10px;
    }
    
    .text-center {
        flex: 1;
        /* Set the flex property to 1 to allow the content to take up the remaining space */
        text-align: left;
        /* Set the text alignment to left */
        margin-right: 20px;
        /* Add some margin to separate the content from the icon */
    }
    
    .text-base {
        padding-top: 5px;
        text-justify: inter-word;
    }
    
    .py-4 {
        text-justify: inter-word;
        padding-left: 20px;
    }
    
    .item img {
        height: 15%;
        /* margin-left: 2rem; */
        padding-top: 15px;
        margin-bottom: -20px;
    }
    
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }
    
    .image-container {
        display: flex;
        align-items: center;
    }
    
    .text-container {
        text-align: center;
    }
    
    .text-container .font-bold {
        margin-top: 1rem;
    }
    
    .getInTouch {
        position: relative;
        text-align: center;
        margin: 40px;
    }
    
    .text-on-image {
        position: absolute;
        width: 671px;
        height: 100px;
        left: 29%;
        top: 30%;
        display: block;
    }
    
    .quote {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        /* or 156% */
        text-align: center;
        color: #42FE00;
    }
    
    .button {
        width: 130px;
        height: 44px;
        background-color: #FF3E54;
        color: white;
        text-align: center;
        border-radius: 12px;
    }
    /* make it responsive */
    /* 
@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 20px;
    }
    .item {
        padding: 10px;
    }
    .image-container {
        padding: 10px;
    }
    .text-container {
        padding: 10px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .item {
        width: calc(33.33% - 20px);
    }
} */
    
    @media screen and (max-width: 1024px) {
        .item {
            width: 45%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .item {
            width: 100%;
            margin: 10px 0;
        }
    }
    
    @media screen and (max-width: 768px) {
        .text-on-image {
            position: static;
            width: 100%;
            max-width: 100%;
            height: auto;
            left: 0;
            top: 0;
            display: block;
            margin-top: 20px;
        }
    }