.box{
    
    margin: auto;
    width: 945px;
    height: 295px;
    border: 3px#3B008D;
    background-color:#3B008D ;
    background-image: url("public Events.png");
    padding: 10px;
    border-radius: 10px;

}
.work{
    margin: auto;
    
    border: 1px black;
    
    height:1000px;
    padding: 10px;
    align-items: center;

}
.txt{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.header{
    margin: auto;
    width: 100%;
    height: 200px;
    border: 3px black;

    background-color:#0E1F51 ;
    padding: 10px; 
}
#phead{
    text-align: center;
    color: "#ff3e54";
    
}

button{
    margin-right: 20px;
    border-radius: 7px;
    border-color: transparent;
    width: 110px;
    height: 40px;

}
