.nav-link:hover {
    background-color: #FF3E54;
    color: white;
    /* border-radius: 25px; */
    font-weight: bold;
}

.nxxv {
    background-color: #FF3E54;
    /* border-radius: 25px; */
    padding: 8px 15px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #FF3E54;
    color: white;
    font-weight: bold;
    /* border-radius: 25px; */
}

.nav-link:hover {
    background-color: #FF3E54;
    color: white;
    border-collapse: separate;
    /* border-radius: 25px; */
    padding: 5px 15px;
    /* add padding to make the hover effect rectangular */
}

.sit-logo {
    width: 80px;
    margin-left: 10px;
    margin-right: 15px;
}

.sit-text {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
