.nav-link:hover {
    background-color: red;
    color: white;
    border-collapse: separate;
    border-radius: 25px;
}

.nxxv {
    background-color: red;
    /* border-collapse: separate;
    border-radius: 15px; */
}